.delete-all-suggested-discussions-input {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 13px;
    margin-bottom: 2.5px;
}

.delete-all-suggested-discussions-input:hover {
    background-color: darkorange;
    color: white;
}

.suggestion-container {
    border: 1.5px solid #a9a9a9;
    padding: 10px 20px 5px;
    margin: 5px 0;
    width: 60%;
    border-radius: 7px;
    width: 100%;
}

.suggestion-container p {
    margin: 5px 0;
    word-wrap: break-word;
}

.suggestion-container a{
    text-decoration: none;
    color: black;
    background-color: white;
}

.suggestion-container a:hover {
    color: black;
}

.highlited-discussion-name {
    font-weight: 500;
}

.suggested-discussions-page-container {
    margin: 0 20%;
}

@media (max-width: 1200px) {
    .suggested-discussions-page-container {
        margin: 0 13%;
    }
}

@media (max-width: 992px) {
    .suggested-discussions-page-container {
        margin: 0 10%;
    }
}

@media (max-width: 768px) {
    .suggested-discussions-page-container {
        margin: 0 8%;
    }
}

@media (max-width: 600px) {
    .suggested-discussions-page-container {
        margin: 0 5%;
    }
}

@media (max-width: 520px) {
    suggested-discussions-page-container {
        margin: 0;
    }
}
