body {
    background-color: #f0f0f0;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-form-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    margin: 30%;
    margin-top: 15%;
}

.login-input {
    width: 90%;
    padding: 12px 15px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    color: black;
    font-size: 16px;
    margin-bottom: 5px;
    transition: border-color 0.4s, box-shadow 0.4s;
}

.login-input:focus {
    border-color: orange;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
    outline: none;
}

.login-submit {
    border: none;
    border-radius: 8px;
    color: white;
    background-color: orange;
    padding: 12px;
    font-size: 16px;
    width: 90%;
    transition: background-color 0.3s;
}

.login-submit:hover {
    background-color: darkorange;
    border: none;
    color: white;
}

@media (max-width: 1200px) {
    .login-form-container {
        margin: 25%;
        margin-top: 13%;
    }
}

@media (max-width: 992px) {
    .login-form-container {
        margin: 15%;
        margin-top: 11%;
    }
}

@media (max-width: 768px) {
    .login-form-container {
        margin: 8%;
        margin-top: 9%;
    }
}

@media (max-width: 600px) {
    .login-form-container {
        margin: 5%;
        margin-top: 7%;
    }
}

@media (max-width: 520px) {
    .login-form-container {
        margin: 3%;
        margin-top: 5%;
    }
}