.reset-password-page-container {
    margin: 0 30%;
}

.password-container {
    position: relative;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-55%);
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-size: 18px;
    color: black;
}

.reset-password-input {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    color: black;
    font-size: 16px;
    margin-bottom: 5px;
    transition: border-color 0.4s, box-shadow 0.4s;
}

.reset-password-input:focus {
    border-color: orange;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
    outline: none;
}

.reset-password-submit {
    border: none;
    border-radius: 8px;
    color: white;
    background-color: orange;
    padding: 12px;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

.reset-password-submit:hover {
    background-color: darkorange;
    border: none;
    color: white;
}

@media (max-width: 1200px) {
    .reset-password-page-container {
        margin: 0 25%;
    }
}

@media (max-width: 992px) {
    .reset-password-page-container {
        margin: 0 20%;
    }
}

@media (max-width: 768px) {
    .reset-password-page-container {
        margin: 0 15%;
    }
}

@media (max-width: 600px) {
    .reset-password-page-container {
        margin: 0 10%;
    }
}

@media (max-width: 520px) {
    .reset-password-page-container {
        margin: 0 5%;
    }
}