@{
    ViewData["Title"] = "Изменить имя пользователя";
}
@model Web.MVC.DTOs.User.ChangeUserNameDto
<link rel="stylesheet" href="~/css/ErrorMessageSpanValidation.css"/>
<link rel="stylesheet" href="~/css/user/ChangeUserName.css"/>

<h3>Изменить имя</h3>
<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <span class="validation-message" asp-validation-for="NewUserName"></span>
    <div>
        <input class="change-username-input" asp-for="NewUserName" placeholder="Новое имя пользователя" />
    </div>
    <input class="change-username-submit" type="submit" value="Изменить" />
</form>