@{
    ViewData["Title"] = "Изменить имя пользователя";
}
@model Web.MVC.DTOs.User.ChangeUserNameDto

<h3>Сменить имя</h3>
<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="NewUserName"></label><br />
        <input asp-for="NewUserName" />
        <span asp-validation-for="NewUserName"></span>
    </div>
    <input type="submit" value="изменить" />
</form>