@model Web.MVC.DTOs.User.ChangeUserNameDto

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="NewUserName"></label><br />
        <input asp-for="NewUserName" />
        <span asp-validation-for="NewUserName"></span>
    </div>
    <input type="submit" value="изменить" />
</form>