.profile-navbar {
    display: flex;
    align-items: center;
}

.profile-navbar-link {
    padding: 10px 10px; 
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
    border-radius: 4px;
}

.profile-navbar-link:hover {
    background-color: white;
    color: orange;
}

.active-navbar-link {
    padding: 10px 10px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    color: orange;
    font-weight: 600;
}

.active-navbar-link:hover {
    color: orange;
}

@media (max-width: 520px) {
    .profile-navbar-link {
        padding: 10px 6px;
    }

    .active-navbar-link {
        padding: 10px 6px;
    }
}