@{
    ViewData["Title"] = "Что-то пошло не так";
}
<link rel="stylesheet" href="~/css/Link.css"/>

<h3>Что-то пошло не так, попробуйте ещё раз</h3>
<div class="links-container">
    <a class="link" asp-controller="Home" asp-action="Index">На главную</a>
</div>