.li-category {
    display: inline;
    margin-right: 15px;
}

.category {
    text-decoration: none;
    color: black;
}

.category.active-category {
    font-weight: bold;
    color: orange;
}

.category:hover {
    color: orange;
}
