.pagination-link-next {
    text-decoration: none;
    border: 1px solid #333;
    color: black;
    background-color: white;
    text-align: center;
    padding: 6px 20px;
    border-radius: 7px;
    display: block;
    width: 120px;
    margin: 0 6px;
}
.pagination-link-next-doesnt-exist {
    text-decoration: none;
    color: white;
    background-color: #ccc;
    text-align: center;
    opacity: 0.6;
    padding: 6px 20px;
    border-radius: 7px;
    display: block;
    width: 120px;
    margin: 0 6px;
}
.pagination-link-next-doesnt-exist:hover {
    cursor: not-allowed;
    color: white;
}

.pagination-link-previous-doesnt-exist {
    text-decoration: none;
    color: white;
    background-color: #ccc;
    text-align: center;
    opacity: 0.6;
    padding: 6px 20px;
    border-radius: 7px;
    display: block;
    width: 120px;
}

    .pagination-link-previous-doesnt-exist:hover {
        cursor: not-allowed;
        color: white;
    }

.pagination-link-next:hover {
    background-color: #f1f1f1;
    border: 1px solid #d2691e;
    color: black;
}

.pagination-link-previous {
    text-decoration: none;
    border: 1px solid #333;
    color: black;
    background-color: white;
    text-align: center;
    padding: 6px 20px;
    border-radius: 7px;
    display: block;
    width: 120px;
}

    .pagination-link-previous:hover {
        background-color: #f1f1f1;
        border: 1px solid #d2691e;
        color: black;
    }

.pagination-link-container {
    display: flex;
    margin: 0 20%;
}

@media (max-width: 1200px) {
    .pagination-link-container {
        margin: 0 15%;
    }
}

@media (max-width: 992px) {
    .pagination-link-container {
        margin: 0 12%;
    }
}

@media (max-width: 768px) {
    .pagination-link-container {
        margin: 0 10%;
    }
}

@media (max-width: 600px) {
    .pagination-link-container {
        margin: 0 7%;
    }
}

@media (max-width: 520px) {
    .pagination-link-container {
        margin: 0 5%;
    }
}