@using System.Web
@model List<Web.MVC.Models.ApiResponses.Discussion.DiscussionResponse>

<div class="text-center">
    <h3>Предложенные обсуждения</h3>
    @foreach (var suggestedDiscussion in Model)
    {
        <a href="~/SuggestedDiscussions/@suggestedDiscussion.Id?returnUrl=@HttpUtility.UrlEncode(Context.Request.Path + Context.Request.QueryString)">@suggestedDiscussion.Title</a><br/>
    }
</div>