@model List<Web.MVC.Models.ApiResponses.DiscussionResponse>

<div class="text-center">
    <h3>Предложенные обсуждения</h3>
    @foreach (var suggestedDiscussion in Model)
    {
        <a href="~/SuggestedDiscussions/@suggestedDiscussion.Id">@suggestedDiscussion.Title</a>
    }
</div>