@model List<Web.MVC.Models.ApiResponses.CommentsResponses.SuggestedCommentResponse>

<div class="text-center">
    @foreach (var suggestedComment in Model)
    {
        <p>@suggestedComment.Content</p>
        <form method="post" asp-controller="Moderator" asp-action="AcceptSuggestedComment" asp-route-id="@suggestedComment.Id">
            <input type="submit" value="принять"/>
        </form>
    }
</div>