@{
    ViewData["Title"] = "Почта успешно подтверждена";
}
<link rel="stylesheet" href="~/css/Link.css" />

<h3>Вы успешно подтвердили свою почту</h3>

<div class="links-container">
    <a class="link" asp-controller="Home" asp-action="Index">На главную</a>
</div>