@{
    ViewData["Title"] = "Подтверждение почты";
}
<link rel="stylesheet" href="~/css/Link.css" />

<h3>Для завершения регистрации проверьте электронную почту и перейдите по ссылке, указанной в письме</h3>

<div class="links-container">
    <a class="link" asp-controller="Home" asp-action="Index">На главную</a>
</div>