@model Web.MVC.DTOs.ResetPassword.ForgotPasswordDto

<h3>Сбросить пароль</h3>

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br/>
        <input asp-for="Email"/>
        <span asp-validation-for="Email"></span>
    </div>
    <input type="submit" value="сбросить"/>
</form>