@{
    ViewData["Title"] = "Перейдите по ссылке в вашей эл. почте для сброса пароля";
}
<div class="text-center">
    <h3>Перейдите по ссылке, отправленной на вашу эл. почту для сброса пароля</h3>
</div>