@{
    ViewData["Title"] = "Вход";
}
@model Web.MVC.DTOs.Auth.LoginDto
<link rel="stylesheet" href="~/css/auth/Login.css"/>

<div class="login-form-container">
    <h2>Вход в аккаунт</h2>
    <form method="post">
        <div class="validation-summary" asp-validation-summary="ModelOnly"></div>
        <span class="validation-message" asp-validation-for="UserNameOrEmail"></span>
        <span class="validation-message" asp-validation-for="Password"></span>
        <div>
            <input class="login-input" asp-for="UserNameOrEmail" placeholder="Имя пользователя или адрес эл. почты"/>
        </div>
        <div>
            <input class="login-input mt-2" asp-for="Password" placeholder="Пароль"/>
        </div>
        <a class="mb-2" asp-controller="Auth" asp-action="ForgotPassword">Забыли пароль?</a><br/>
        <input class="login-submit" type="submit" value="Войти"/>
    </form>
</div>
