@{
    ViewData["Title"] = "Регистрация";
}
@model Web.MVC.DTOs.Auth.RegisterDto
<link rel="stylesheet" href="~/css/auth/Register.css"/>

<div class="register-page-container">
    <h2>Зарегистрироваться</h2>
    <form method="post" asp-action="Register" asp-controller="Auth">
        <div class="validation-summary" asp-validation-summary="ModelOnly"></div>
        <span class="validation-message" asp-validation-for="Email"></span>
        <span class="validation-message" asp-validation-for="UserName"></span>
        <span class="validation-message" asp-validation-for="Password"></span>
        <span class="validation-message" asp-validation-for="PasswordConfirm"></span>
        <div>
            <input class="register-input" asp-for="Email" placeholder="Эл. почта" />
        </div>
        <div>
            <input class="register-input" asp-for="UserName" placeholder="Имя пользователя" />
        </div>
        <div>
            <input class="register-input" asp-for="Password" placeholder="Пароль" />
        </div>
        <div>
            <input class="register-input mb-3" asp-for="PasswordConfirm" placeholder="Подтвердить пароль" />
        </div>
        <div class="register-captcha">
            <dnt-captcha asp-captcha-generator-max="99999"
                         asp-captcha-generator-min="1000"
                         asp-captcha-generator-language="Russian"
                         asp-captcha-generator-display-mode="ShowDigits"
                         asp-use-relative-urls="true"
                         asp-placeholder="Введите капчу"
                         asp-validation-error-message="Пожалуйста, пройдите капчу"
                         asp-too-many-requests-error-message="Слишком много запросов"
                         asp-font-name="Tahoma"
                         asp-font-size="20"
                         asp-fore-color="#333333"
                         asp-back-color="#ccc"
                         asp-text-box-class="register-input"
                         asp-text-box-template="<div>{0}</div>"
                         asp-validation-message-class="text-danger"
                         asp-refresh-button-class="glyphicon glyphicon-refresh btn-sm"
                         asp-show-refresh-button="false"/>
        </div>
        <input class="register-submit" type="submit" value="Зарегистрироваться" />
    </form>
</div>