@model Web.MVC.DTOs.ResetPassword.ResetPasswordDto

<h3>Сброс пароля</h3>

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Password"></label><br/>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <input type="submit" value="сбросить"/>
</form>
