@{
    ViewData["Title"] = "Пароль обновлен";
}
<link rel="stylesheet" href="~/css/Link.css"/>

<h3>Пароль успешно обновлен</h3>

<div class="links-container">
    <a class="link" asp-controller="Home" asp-action="Index">На главную</a>
</div>
