.forum-navbar a{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px 15px;
}
.forum-navbar a:hover {
    color: orange;
}
.forum-navbar a.active-forum-navbar {
    background-color: white;
    color: orange;
    font-weight: bolder;
}