.links-container {
    display: block;
    margin-top: 13px;
    gap: 7px;
}

.link {
    text-decoration: none;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: orange;
    transition: background-color 0.3s;
}

.link:hover {
    background-color: darkorange;
    color: white;
}