@{
    ViewData["Title"] = "Вы не можете создать обсуждение";
}
<link rel="stylesheet" href="~/css/Link.css"/>

<h3>Вы не можете создать обсуждение, так как Вы были отстранены, причину отстранения можно посмотреть в профиле</h3>

<div class="links-container">
    <a class="link" asp-action="Index" asp-controller="Home">На главную</a>
</div>
