@{
    ViewData["Title"] = "Рейтинг уже увеличен";
}
@model string
<link rel="stylesheet" href="~/css/Link.css" />

<h3>Вы уже увеличили рейтинг этого обсуждения</h3>

<div class="links-container">
    <a class="link" asp-controller="Home" asp-action="Index">На главную</a>
    <a class="link" href="@Model">К обсуждению</a>
</div>
