@{
    ViewData["Title"] = "Рейтинг уже увеличен";
}
@model string

<div class="text-center">
    <h3>Вы уже увеличили рейтинг этого обсуждения</h3>
    <a href="@Model">к обсуждению</a>
    <a asp-controller="Home" asp-action="Index">на главную</a>
</div>
