@model Guid

<div class="text-center">
    <h3>Что-то пошло не так, попробуйте ещё раз</h3>
    <a asp-action="GetDiscussion" asp-controller="Discussion" asp-route-id="@Model">к обсуждению</a>
    <a asp-controller="Home" asp-action="Index">на главную</a>
</div>