@{
    ViewData["Title"] = "Спасибо";
}
@model Guid
<link rel="stylesheet" href="~/css/Link.css"/>

<h3>Спасибо за оставленный комментарий, в ближайшее время модерация его рассмотрит, следите за статусом проверки в профиле</h3>

<div class="links-container">
    <a class="link" asp-controller="Home" asp-action="Index">На главную</a>
    <a class="link" asp-action="GetDiscussion" asp-controller="Discussion" asp-route-id="@Model" asp-route-pageNumber="1" asp-route-pageSize="20">К обсуждению</a>
</div>