@{
    ViewData["Title"] = "Спасибо";
}
<link rel="stylesheet" href="~/css/Link.css"/>
<h3>В ближайшее время модерация рассмотрит Ваше обсуждение, следите за статусом проверки в профиле</h3>

<div class="links-container">
    <a class="link" asp-action="Index" asp-controller="Home">На главную</a>
</div>