@model Web.MVC.Models.ApiResponses.Discussion.SuggestedDiscussionResponse

<h3>@Model.Title</h3>
<p>@Model.Content</p>
<form method="post" asp-controller="SuggestDiscussion" asp-action="DeleteSuggestedDiscussion" asp-route-returnUrl="~/user/@User.Identity.Name"
      asp-route-suggestedDiscussionId="@Model.Id">
    <input type="submit" value="удалить предложение"/>
</form>
