@{
    ViewData["Title"] = "Спасибо";
}
<div class="text-center">
    <h3>Ваше предложение по созданию темы передано на проверку, статус проверки смотрите в профиле</h3>
    <a asp-controller="Home" asp-action="Index">На главную</a>
</div>