@model List<Web.MVC.Models.ApiResponses.TopicResponse>

<div class="text-center">
    <h3>Темы</h3>
    <a asp-action="SuggestTopic" asp-controller="Topic">Предложить тему</a><br/>
    @foreach (var topic in Model)
    {
        <a href="~/topics/@topic.Name">@topic.Name</a>
        <p>Постов: @topic.PostsCount</p>
    }
</div>

