@{
    ViewData["Title"] = "Создать бота";
}
@model Web.MVC.DTOs.Admin.CreateBotDto
<link rel="stylesheet" href="~/css/ErrorMessageSpanValidation.css"/>
<link rel="stylesheet" href="~/css/admin/CreateBotAccount.css"/>

<div class="create-bot-container">
    <h3 class="mb-3">Создать бота</h3>
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <span class="validation-message" asp-validation-for="Email"></span>
        <span class="validation-message" asp-validation-for="UserName"></span>
        <span class="validation-message" asp-validation-for="Password"></span>
        <span class="validation-message" asp-validation-for="PasswordConfirm"></span>
        <div>
            <input class="create-bot-input-text" asp-for="Email" placeholder="Эл. почта" />
        </div>
        <div>
            <input class="create-bot-input-text" asp-for="UserName" placeholder="Имя пользователя" />
        </div>
        <div>
            <input class="create-bot-input-text" asp-for="Password" placeholder="Пароль" />
        </div>
        <div>
            <input class="create-bot-input-text" asp-for="PasswordConfirm" placeholder="Подтвердите пароль" />
        </div>
        <input class="create-bot-submit" type="submit" value="Создать" />
    </form>
</div>