<div class="text-center">
    <h3>Вы не можете отправить жалобу, так как Вы были отстранены, причину отстранения можно посмотреть в профиле</h3>
    <a asp-action="Index" asp-controller="Home">на главную</a>
</div>
