@{
    ViewData["Title"] = "Спасибо";
}
@model string
<link rel="stylesheet" href="~/css/Link.css" />

<h3>Спасибо за оставленную жалобу, она будет рассмотрена в ближайшее время</h3>

<div class="links-container">
    <a class="link" asp-action="Index" asp-controller="Home">На главную</a>
</div>
