@model string

<div class="text-center">
    <h3>Спасибо за оставленную жалобу, она будет рассмотрена в ближайшее время</h3>
    <br/><a asp-action="Index" asp-controller="Home">на главную</a>
</div>
