<link rel="stylesheet" href="~/css/information/TermsOfUse.css"/>

<div class="terms-of-use-page-container">
    <h2 class="text-center">Пользовательское соглашение</h2>
    <p class="text-center">Дата вступления в силу: [Дата]</p>

    <p>Настоящее пользовательское соглашение (далее - "Соглашение") регулирует порядок использования сайта [Название сайта] (далее - "Сайт"), расположенного по адресу [URL сайта].</p>

    <div class="margin-bottom-3">
        <h4>1. Определения</h4>
        <p class="margin-bottom-0"><strong>Пользователь</strong> - любое физическое или юридическое лицо, которое использует Сайт.</p>
        <p><strong>Контент</strong> - информация, размещаемая Пользователями на форуме, включая, но не ограничиваясь, текстовыми сообщениями, изображениями, видео и другими материалами.</p>
    </div>


    <div class="margin-bottom-3">
        <h4>2. Права и обязанности Пользователей</h4>
        <p class="margin-bottom-0"><strong>2.1.</strong> Пользователь обязуется:</p>
        <ul class="margin-bottom-0">
            <li>2.1.1. При регистрации предоставить достоверную информацию.</li>
            <li>2.1.2. Соблюдать правила общения и уважать других участников.</li>
            <li>2.1.3. Не размещать оскорбительные, агрессивные, расистские, порнографические или иные материалы, нарушающие законодательство.</li>
        </ul>
        <p class="margin-bottom-0"><strong>2.2.</strong> Пользователь имеет право:</p>
        <ul>
            <li>2.2.1. Размещать сообщения и комментарии.</li>
            <li>2.2.2 Получать доступ к разделам форума.</li>
        </ul>
    </div>


    <div class="margin-bottom-3">
        <h4>3. Права и обязанности Администрации</h4>
        <p class="margin-bottom-0"><strong>3.1.</strong> Администрация форума имеет право:</p>
        <ul class="margin-bottom-0">
            <li>3.1.1. Удалять сообщения, нарушающие правила пользования Сайта (правила Сайта доступны по <a asp-controller="Information" asp-action="Rules">ссылке</a>).</li>
            <li>3.1.2. Блокировать доступ Пользователей, нарушающих условия данного Соглашения и (или) <a asp-controller="Information" asp-action="Rules">правила пользования Сайта</a>.</li>
            <li>3.1.3. Вносить изменения в функционал Сайта и в данное Соглашение.</li>
        </ul>
        <p><strong>3.2.</strong> Администрация не несет ответственности за содержание сообщений, размещенных Пользователями.</p>
    </div>


    <div class="margin-bottom-3">
        <h4>4. Конфиденциальность</h4>
        <p><strong>4.1.</strong> Администрация гарантирует конфиденциальность личной информации Пользователей и ее защиту в соответствии с <a asp-controller="Information" asp-action="Privacy">политикой конфиденциальности</a>.</p>
    </div>


    <div class="margin-bottom-3">
        <h4>5. Ограничение ответственности</h4>
        <p><strong>5.1.</strong> Администрация не несет ответственности за любой ущерб, возникший в результате использования или невозможности использования Сайта.</p>
    </div>


    <div class="margin-bottom-2">
        <h4>6. Заключительные положения</h4>
        <p><strong>6.1.</strong> Настоящее Соглашение может быть изменено Администрацией в одностороннем порядке. Изменения вступают в силу с момента их публикации на Сайте, если иное не предусмотрено условиями.</p>
    </div>

    <p><strong>Используя Сайт, вы соглашаетесь с условиями данного Соглашения. Если вы не согласны с условиями, пожалуйста, не используйте Сайт.</strong></p>
</div>