@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">Войти</a>
    <a asp-controller="Auth" asp-action="Register">зарегистрироваться</a>
</div>
